/**
	// Variables for dark theme.
*/

:root {
	--element-titles: cornflowerblue;
	--integrated-titles: #b19cd9;

	--directory-item-symbol: cornflowerblue;

	--link-hover: cornflowerblue;
	--link-type-indicator: cornflowerblue;
	--invalid-link: red;
	--target-highlighting: #fdfd96;
}
